body{
    width: 600px;
    height: 600px;
    background-color: aliceblue;
}

/*.bk-tooltip-custom{*/
    /*width: 600px;*/
    /*height: 330px;*/
/*}*/

/*embed{*/
    /*width: 300px;*/
    /*height: 300px;*/
/*}*/

/*.bk-root{*/
    /*height: 100%;*/
/*}*/