body{
    width: 600px;
    height: 600px;
    background-color: aliceblue;
}

.bk-tooltip-custom{
    width: 400px;
    height: auto;
}

embed{
    width: 200px;
    height: 200px;
}


.column {
      float: left;
      width: 50%;
      text-align: center;
}

.row {
    text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}